---
title: About EvoIgroup
linkTitle: About
menu:
  main:
    weight: 30

---


{{< blocks/cover title="About EvoI Group" image_anchor="bottom" height="min" >}}

<b align="justify">
  We are actively seeking collaborators.
  If you are interested in joining us, 
  please send an email to: kwu@xidian.edu.cn (Dr. Kai Wu) or xiaofengxd@126.com (Dr. Chao Wang).
</b>

{{< /blocks/cover >}}

{{% blocks/lead %}}
<p align="justify">
  The Evolutionary Intelligence (EvoI) Group was founded in January 2023, affiliated with <a href="https://en.xidian.edu.cn/"><b>Xidian University (XDU)</b></a>, China. Generally, our research motivations can be interpreted at four levels:  EvoI for Network Sciences (NS), EvoI for Machine Learning (ML), EvoI for Optimization (OP), and EvoI for Application (AP).
</p>
<!-- <p align="left">
  <ul>
    <li align="left">
      EvoI for Network Sciences <br>
      <ul>
        <li align="left">Hypergraphs</li>
        <li align="left">Causal Inference</li>
        <li align="left">Community Detection</li>
        <li align="left">Higher Order Networks</li>
        <li align="left">Influence Maximization</li>
        <li align="left">Network Reconstruction</li>
        </li>
        </ul>
    </li>
    <li align="left">
      EvoI for Machine Learning <br>
      <ul>
        <li align="left">Auto Learning</li>
        <li align="left">Meta Learning</li>
        <li align="left">Kinetic Analysis</li>
        <li align="left">Graph Learning</li>
        <li align="left">Generative Model</li>
        <li align="left">Adversarial Learning</li>
        </li>
        </ul>
    </li>
    <li align="left">
      EvoI for Optimization<br>
      <ul>
        <li align="left">Numerical Optmization</li>
        <li align="left">Expensive Optimization</li>
        <li align="left">Large-Scale Optimization</li>
        <li align="left">Combinatorial Optimization</li>
        <li align="left">Multi-objective Optimization</li>
        <li align="left">Multi-task/Transfer Optimization</li>
        </li>
        </ul>
    </li>
    <li align="left">
      EvoI for Application <br>
      <ul>
        <li align="left">Cyber security</li>
        <li align="left">Time Series Analysis</li>
        <li align="left">Black-box Applications</li>
        <li align="left">Placement and Routing</li>
        <li align="left">Bioinformatics and Life Sciences</li>
      </li>
        </ul>
    </li>
  </ul>
</p> -->

<section id="pageContent">
  <div class="container">
    <div class="card-deck">
      <div class="card border-primary-dark">
        <img
          src="Network Sciences.png"
		    class="card-img-top"
		    draggable="false"
        style="padding;"
          alt="NS Logo"
          height="400"width="500"
        />
        <div class="card-body bg-primary">
          <h2 class="card-title text-white section-head"> EvoI for Network Sciences</h2>
          <h3 class="card-title text-white section-head"> Topics</h3>
          <p class="card-text text-white">
            <ul>
              <li align="m">Hypergraphs</li>
              <li align="m">Causal Inference</li>
              <li align="m">Community Detection</li>
              <li align="m">Higher Order Networks</li>
              <li align="m">Influence Maximization</li>
              <li align="m">Network Reconstruction</li>
              </li>
              </ul>
          </p>
          <h3 class="card-title text-white section-head"> Members</h3>
          <p class="card-text text-white">
            <ul>
              <li align="m">Yingzhi Teng (2019/09-now)</li>
              <li align="m">Ziang Xie (2020/09-now)</li>
              <li align="m">Yitong Li (2020/09-now)</li>
              <li align="m">Lanlan Chen (2021/09-now)</li>
              <li align="m">Yuanyuan Li (2021/09-now)</li>
              </li>
              </ul>
          </p>
        </div>
      </div>
      <div class="card border-primary-dark">
        <img
          src="Machine Learning.png"
		    class="card-img-top"
		    draggable="false"
        style="padding;"
          alt="ML Logo"
          height="400"width="500"
        />
        <div class="card-body bg-primary">
          <h2 class="card-title text-white section-head"> EvoI for Machine Learning</h2>
          <h3 class="card-title text-white section-head"> Topics</h3>
          <p class="card-text text-white">
            <ul>
              <li align="m">Auto Learning</li>
              <li align="m">Meta Learning</li>
              <li align="m">Kinetic Analysis</li>
              <li align="m">Graph Learning</li>
              <li align="m">Generative Model</li>
              <li align="m">Adversarial Learning</li>
              </li>
              </ul>
          </p>
          <h3 class="card-title text-white section-head"> Members</h3>
          <p class="card-text text-white">
            <ul>
              <li align="m">Xiaobin Li (2022/09-now)</li>
              <li align="m">Tianyu Li (2022/09-now)</li>
              <li align="m">Yujian Li (2023/09-now)</li>
              </li>
              </ul>
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="card-deck">
      <div class="card border-primary-dark">
        <img
          src="Optimization.png"
		    class="card-img-top"
		    draggable="false"
        style="padding;"
          alt="Optimization Logo"
          height="400"width="500"
        />
        <div class="card-body bg-primary">
          <h2 class="card-title text-white section-head"> EvoI for Optimization</h2>
          <h3 class="card-title text-white section-head"> Topics</h3>
          <p class="card-text text-white">
            <ul>
              <li align="m">Numerical Optmization</li>
              <li align="m">Expensive Optimization</li>
              <li align="m">Large-Scale Optimization</li>
              <li align="m">Combinatorial Optimization</li>
              <li align="m">Multi-objective Optimization</li>
              <li align="m">Multi-task/Transfer Optimization</li>
              </li>
              </ul>
          </p>
          <h3 class="card-title text-white section-head"> Members</h3>
          <p class="card-text text-white">
            <ul>
              <li align="m">Huixin Ma (2021/09-now)</li>
              <li align="m">Xinyu Guo (2022/09-now)</li>
              <li align="m">Yudong Yang (2022/09-now)</li>
              </li>
              </ul>
          </p>
        </div>
      </div>
      <div class="card border-primary-dark">
        <img
          src="Applications.png"
		    class="card-img-top"
		    draggable="false"
        style="padding;"
          alt="Applications Logo"
          height="400"width="500"
        />
        <div class="card-body bg-primary">
          <h2 class="card-title text-white section-head"> EvoI for Applications</h2>
          <h3 class="card-title text-white section-head"> Topics</h3>
          <p class="card-text text-white">
            <ul>
              <li align="m">Scheduling</li>
              <li align="m">Cyber security</li>
              <li align="m">Time Series Analysis</li>
              <li align="m">Black-box Applications</li>
              <li align="m">Placement and Routing</li>
              <li align="m">Bioinformatics and Life Sciences</li>
            </li>
              </ul>
          </p>
          <h3 class="card-title text-white section-head"> Members</h3>
          <p class="card-text text-white">
            <ul>
              <li align="m">Yingzhi Teng (2019/09-now)</li>
              <li align="m">Shuijing Zhang (2021/09-now)</li>
              <li align="m">Beining Zhang (2022/09-now)</li>
              </li>
              </ul>
          </p>
        </div>
      </div>
    </div>
    <br />
  </div>
</section>

{{% /blocks/lead%}}

{{% blocks/lead color="black"%}}



{{% /blocks/lead %}}