+++
title = "EvoIgroup"
linkTitle = "EvoIgroup"

+++

{{< blocks/cover title="How to Evolve a General-Purpose Machine that Surpasses Human Intelligence?" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/EvoIgroup">
		Resources <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Explore and Exploit EvoI to Change the World！</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<h2 align="left">About EvoI Group</h2>
<p align="justify">
	The Evolutionary Intelligence (EvoI) group was founded in January 2023, affiliated with <a href="https://en.xidian.edu.cn/"><b>Xidian University (XDU)</b></a>, China. Generally, our research motivations can be interpreted at four levels:
</p>
  
  <p align="left">
	<ul>
	  <li align="left">
		EvoI for Network Sciences <br>
	  <li align="left">
		EvoI for Machine Learning <br>
	  </li>
	  <li align="left">
		EvoI for Optimization<br>
	  </li>
	  <li align="left">
		EvoI for Applications <br>
	</ul>
  </p>

<p align="justify">
	We are actively seeking collaborators.
	If you are interested in joining us, 
	please send an email to: kwu@xidian.edu.cn (Dr. <a href="https://sparsel.github.io/index.html"><b>Kai Wu</b></a>) or xiaofengxd@126.com (Dr. <a href="https://xiaofangxd.github.io/Chao-Wang/about/"><b>Chao Wang</b></a>).
</p>

{{% /blocks/lead %}}

{{< blocks/section color="black" >}}
<h2 align="left">EvoI for Network Sciences</h2>

{{< /blocks/section >}}


{{< blocks/section color="primary">}}
<h2 align="left">EvoI for Machine Learning</h2>

{{< /blocks/section >}}

{{< blocks/section color="black">}}
<h2 align="left">EvoI for Optimization</h2>

{{< /blocks/section >}}

{{< blocks/section color="primary">}}
<h2 align="left">EvoI for Applications</h2>

{{< /blocks/section >}}


{{< blocks/section >}}
{{% blocks/feature icon="fa-solid fa-link" title="Links (Organization)"%}}
AAAI: [https://aaai.org/](https://aaai.org/) <br>
IEEE CIS: [https://cis.ieee.org/](https://cis.ieee.org/) <br>
IEEE CS: [https://www.computer.org/](https://www.computer.org/) <br>
IEEE SMC: [https://www.ieeesmc.org/](https://www.ieeesmc.org/) <br>
SIGEVO: [https://dl.acm.org/sig/sigevo](https://dl.acm.org/sig/sigevo) <br>
<!-- <ul>
	<li align="left">[IEEE CIS](https://cis.ieee.org/) </li>
	<li align="left">ACM: https://www.acm.org/</li>
	<li align="left">IEEE CS: https://www.computer.org/</li>
	<li align="left">IEEE SMC: https://www.ieeesmc.org/</li>
	</ul> -->
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-link" title="Links (Repository)" %}}
ACM: [https://www.acm.org/](https://www.acm.org/) <br>
MIT: [https://mitpress.mit.edu/](https://mitpress.mit.edu/) <br>
IEEE: [https://ieeexplore.ieee.org/](https://ieeexplore.ieee.org/) <br>
Springer: [https://link.springer.com/](https://link.springer.com/) <br>
SD: [https://www.sciencedirect.com/](https://www.sciencedirect.com/) <br>
<!-- <ul>
	<li align="left">IEEE CIS: https://cis.ieee.org/ </li>
	<li align="left">ACM: https://www.acm.org/</li>
	<li align="left">IEEE CS: https://www.computer.org/</li>
	<li align="left">IEEE SMC: https://www.ieeesmc.org/</li>
	</ul> -->
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-thin fa-address-book" title="Contact Us" %}}

Tel: +86-29-88202661 <br>
Subscriptions (WeChat): 西电广研院 <br>
Email1: kwu@xidian.edu.cn (Kai Wu) <br>
Email2: xiaofengxd@126.com (Chao Wang) <br>
Address: No. 2 South Taibai Road, Xi'an, China <br>
<!-- <ul>
	<li align="left">Tel: +86-29-88202661 </li>
	<li align="left">First Email: kwu@xidian.edu.cn</li>
	<li align="left">Second Email: xiaofengxd@126.com</li>
	<li align="left">Address: No. 2 South Taibai Road, Xi'an, China</li>
	</ul> -->
{{% /blocks/feature %}}

{{< /blocks/section >}}
